<% provide(:title, 'All users') %>
<h1>All users</h1>

<% @users.in_groups_of(3) do |group| %>
  <div class="card-deck">
    <% group.each do |user|%>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= gravatar_for user, size: 50 %>
            <%= link_to user.name, user, class: "card-text" %>
          </h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Created <%= time_ago_in_words(user.created_at) %> ago</small>
        </div>
      </div>
    <% end %>
  </div>
<% end %>