<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center" id="homepage">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Cookbooks</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/cookbooks">Home</a>
        <a class="nav-link" href="/recipes">Recipes</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Bon Appétit</h1>
    <p class="lead">Cookbooks is a fun way to create and share recipes with friends! Respect your fucking craft. Can we all just agree as the greater design community to stop fucking talking about Comic Sans?</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Let's eat</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <!-- We could have a footer here if we wanted to. -->
    </div>
  </footer>
</div>
